
footer{
    display: flex;
    align-items: center;
    bottom: 0;
    justify-content: space-between;
    height: 30vh;
    max-height: 30vh;
    background-color: #253237;
}


footer nav{
    display: flex;
}

footer h2{
    margin-left: 2vw;
    font-family: "Poppins";
    color: white;
}

footer nav a{
    margin-left: 1vw;
    margin-right: 1vw;
    
}

footer img{
    transition: 0.5s;
}

footer img:hover{
    transform: translateY(-10%);
}